.main {
    margin:10% auto;
    padding-left:40%;
    
}

/* //////////////////////////////////////////////////////////////// */
body{
    background-image: url("./earth-from-space-abstract-background-3d-rendering_24070-1719.avif");
    background-size: cover;
}